/*
 *  @Project:		Battle Brothers
 *	@Company:		Overhype Studios
 *
 *	@Copyright:		(c) Overhype Studios | 2013 - 2017
 * 
 *  @Author:		Overhype Studios
 *  @Date:			31.10.2017
 *  @Description:	World Town Screen JS
 */

.origin-customizer-screen
{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;

	overflow: hidden;
}

.origin-customizer-screen .dialog-background-image
{
    width: 128.0rem;
    height: 76.8rem;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    position: absolute;
    z-index: 2;
    margin: auto;

    background-image: url("coui://gfx/ui/skin/dialog_background_1280x768.png");
    
    background-size: 128.0rem 76.8rem;
    background-repeat: no-repeat;
}