.origin-customizer-screen
{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;

    overflow: hidden;
}

.origin-customizer-screen > .l-origin-customizer-dialog-container
{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 128.0rem;
    height: 76.8rem;
    position: absolute;
    margin: auto;
    z-index: 2;
}

/****Tab Button Bar****/
.origin-customizer-screen > .l-origin-customizer-dialog-container .l-tab-container
{
    width: 100%;
    height: 4.3rem;

    float: left;
    position: relative;
    margin: auto;
}
.origin-customizer-screen > .l-origin-customizer-dialog-container .l-tab-container .tab-button-panel
{
    /*top: 20%;*/
    position: absolute;
}
.origin-customizer-screen > .l-origin-customizer-dialog-container .l-tab-container .tab-button-panel .l-tab-button
{
    width: 17.4rem;
    height: 4.3rem;
    position: absolute;

    line-height: 3.0rem;
}
.origin-customizer-screen > .l-origin-customizer-dialog-container .l-tab-container .tab-button-panel .l-tab-button.is-general
{
    left: 0;
}
.origin-customizer-screen > .l-origin-customizer-dialog-container .l-tab-container .tab-button-panel .l-tab-button.is-properties
{
    left: 16.5rem;
}
.origin-customizer-screen > .l-origin-customizer-dialog-container .l-tab-container .tab-button-panel .l-tab-button.is-factions
{
    left: 33.0rem;
}
.origin-customizer-screen > .l-origin-customizer-dialog-container .l-tab-container .tab-button-panel .l-tab-button.is-contracts
{
    left: 49.5rem;
}
.origin-customizer-screen > .l-origin-customizer-dialog-container .l-tab-container .tab-button-panel .l-tab-button.is-settlement
{
    left: 66.0rem;
}

.origin-customizer-screen > .l-origin-customizer-dialog-container .l-tab-container .tab-button-panel .l-tab-button.is-save
{
    left: 123.0rem;
    width: 4.5rem;
    height: 4.1rem;
}

.origin-customizer-screen > .l-origin-customizer-dialog-container .content .column25
{
    width: 25%;
    height: 100%;
    position: relative;
    float : left;
}

.origin-customizer-screen > .l-origin-customizer-dialog-container .content .column40
{
    width: 40%;
    height: 100%;
    position: relative;
    float : left;
}

.origin-customizer-screen > .l-origin-customizer-dialog-container .content .column50
{
    width: 50%;
    height: 100%;
    position: relative;
    float : left;

    border: 2px solid yellow;
}

.origin-customizer-screen > .l-origin-customizer-dialog-container .content .column60
{
    width: 60%;
    height: 100%;
    position: relative;
    float : left;
}

.origin-customizer-screen > .l-origin-customizer-dialog-container .content .column26
{
    width: 26%;
    height: 100%;
    position: relative;
    float : left;
}

.origin-customizer-screen > .l-origin-customizer-dialog-container .content .column74
{
    width: 74%;
    height: 100%;
    position: relative;
    float : left;
}

.origin-customizer-screen > .l-origin-customizer-dialog-container .content .column65,
.origin-customizer-screen > .l-origin-customizer-dialog-container .content .column-left
{
    width: 65%;
    height: 100%;
    position: relative;
    float : left;
}

.origin-customizer-screen > .l-origin-customizer-dialog-container .content .column35,
.origin-customizer-screen > .l-origin-customizer-dialog-container .content .column-right
{
    width: 35%;
    height: 100%;
    position: relative;
    float : left;
}

.origin-customizer-screen > .l-origin-customizer-dialog-container .content .row80
{
    height: 80%;
    width: 100%;
    float: left;
    position: relative;
}

.origin-customizer-screen > .l-origin-customizer-dialog-container .content .row75
{
    height: 75%;
    width: 100%;
    float: left;
    position: relative;

    border: 2px solid red;
}

.origin-customizer-screen > .l-origin-customizer-dialog-container .content .row25
{
    height: 25%;
    width: 100%;
    float: left;
    position: relative;

    border: 2px solid blue;
}

.origin-customizer-screen > .l-origin-customizer-dialog-container .content .row20
{
    height: 20%;
    width: 100%;
    float: left;
    position: relative;
}

.origin-customizer-screen > .l-origin-customizer-dialog-container .content .with-small-dialog-background
{
    background-image: url("coui://gfx/ui/skin/tactical_character_background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.origin-customizer-screen > .l-origin-customizer-dialog-container .content .with-scroll-background
{
    background-image: url("coui://gfx/ui/skin/tooltip_background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.origin-customizer-screen > .l-origin-customizer-dialog-container .content .with-dialog-background
{
    background-image: url("coui://gfx/ui/skin/dialog_panel_508x536.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.origin-customizer-screen > .l-origin-customizer-dialog-container .content .with-dialog-background2
{
    background-image: url("coui://gfx/ui/skin/dialog_panel_02.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.origin-customizer-screen > .l-origin-customizer-dialog-container .content .row
{
    width: 95%;
    float: left;
    position: relative;
    padding-top : 0.5rem;
    padding-left: 2.0rem;
}

.origin-customizer-screen > .l-origin-customizer-dialog-container .content .input-row .title,
.origin-customizer-screen > .l-origin-customizer-dialog-container .content .row .title
{
    width: 96%;
    height: 2.0rem;
    float: left;
    margin-bottom: 2.0rem;

    line-height: 2.0rem;

    border-image: url("coui://gfx/ui/skin/line_gold.png") 0% 0% 100% 0%;
    border-image-outset: 0 0 0.5rem 0;
}

.origin-customizer-screen > .l-origin-customizer-dialog-container .content .input-row .title-black,
.origin-customizer-screen > .l-origin-customizer-dialog-container .content .row .title-black
{
    width: 96%;
    height: 2.0rem;
    float: left;
    margin-bottom: 2.0rem;

    line-height: 2.0rem;

    border-image: url("coui://gfx/ui/skin/line_metal.png") 0% 0% 100% 0%;
    border-image-outset: 0 0 0.5rem 0;
}

.origin-customizer-screen > .l-origin-customizer-dialog-container .content .row .scale-control
{
    width: 36.0rem;
    height: 3.0rem;
}

.origin-customizer-screen > .l-origin-customizer-dialog-container .content .scale-label
{
    top: 5.0rem;
    left: 32.5rem;
    position: absolute;
}

.origin-customizer-screen > .l-origin-customizer-dialog-container .content .scale-slider
{
    top: -1.5rem;
    width: 30.0rem;
    position: relative;
    float: left;
    margin-bottom: 0.0rem;
}

.origin-customizer-screen > .l-origin-customizer-dialog-container .content .row.input-row
{
    right: 1.0rem;
    height: 4.0rem;

    padding-top : 1.0rem;
    padding-left: -1.0rem;
}

.origin-customizer-screen > .l-origin-customizer-dialog-container .content .row.input-row > .l-input-row
{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 92%;
    height: 2.6rem;
    position: absolute;
    margin: auto;
}

.origin-customizer-screen > .l-origin-customizer-dialog-container .content .l-input-row > .l-input-row-icon
{
    width: 3.0rem;
    height: 2.6rem;
    position: absolute;
    float: left;
}

.origin-customizer-screen > .l-origin-customizer-dialog-container .content .l-input-row-icon .input-row-icon-img
{
    top: 0.1rem;
    left: 1.0rem;
    right: 0;
    bottom: 0;
    width: 2.6rem;
    height: 2.6rem;
    position: absolute;
}

.origin-customizer-screen > .l-origin-customizer-dialog-container .content .row.input-row .l-input
{
    left: 4.8rem;
    width: 14.2rem;
    height: 3.2rem;
    position: absolute;
}

.origin-customizer-screen > .l-origin-customizer-dialog-container .content .row .control
{
    float: left;
    clear: left;
    position: relative;
    margin-left  : 1.0rem;
    margin-bottom: 2.0rem;
}

.origin-customizer-screen > .l-origin-customizer-dialog-container .content .control label
{
    top: 0;
    bottom: 0;
    height: 2.0rem;
    position: absolute;
    margin: auto;
    margin-left: 1.4rem;

    white-space: nowrap;
    line-height: 2.0rem;
}

.origin-customizer-screen .l-origin-customizer-dialog-container .content .row .l-input-big
{
    width: 30.0rem;
    height: 4.0rem;
    margin-bottom: 2.0rem;
    float: left;
    position: relative;
}


/****Footer****/
.origin-customizer-screen > .l-origin-customizer-dialog-container .footer .l-button-bar
{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 16.0rem;
    height: 4.3rem;
    position: absolute;
    margin: auto;
}

.origin-customizer-screen > .l-origin-customizer-dialog-container .footer .l-leave-button
{
    top: 0;
    right: 0;
    bottom: 0;
    width: 17.5rem;
    position: absolute;

    line-height: 3.0rem;
}





/*****Configure Options*****/
.origin-customizer-screen > .l-origin-customizer-dialog-container .content .configure-container
{
    height: 30.0rem;
    width: 100%;
    float: left;
    position: relative;
    /*padding-top : 1.0rem;*/
}
.origin-customizer-screen > .l-origin-customizer-dialog-container .content .column45
{
    width: 45%;
    height: 100%;
    position: relative;
    float : left;
}
.origin-customizer-screen > .l-origin-customizer-dialog-container .content .column55
{
    width: 55%;
    height: 100%;
    position: relative;
    float : left;
}





/****Origin Image****/
.origin-customizer-screen > .l-origin-customizer-dialog-container .content .origin-image-container
{
    width: 98%;
    height: 21.0rem;

    padding-top: 1.0rem;
}
.origin-customizer-screen > .l-origin-customizer-dialog-container .content .origin-image-container > img
{
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;

    display: block;
}





/****Banner****/
.origin-customizer-screen > .l-origin-customizer-dialog-container .column-right .row .banner-container
{
    width: 100%;
    height: 38.0rem;

    margin-bottom: 6.5rem;
}
.origin-customizer-screen > .l-origin-customizer-dialog-container .column-right .row .banner-container .prev-banner-button,
.origin-customizer-screen > .l-origin-customizer-dialog-container .column-right .row .banner-container .next-banner-button
{
    height: 4.1rem;
    width: 4.5rem;
    vertical-align: middle;
}
.origin-customizer-screen > .l-origin-customizer-dialog-container .column-right .row .banner-container .banner-image
{
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}





/****Company Avatar****/
.origin-customizer-screen > .l-origin-customizer-dialog-container .content .avatar-changer-container
{
    width: 100%;
    height: 17.0rem;
    position: relative;
    float: left;

    /*border: 4px solid purple;*/
}
.origin-customizer-screen > .l-origin-customizer-dialog-container .content .avatar-changer-container .avatar-row
{
    width: 100%;
    height: 3.5rem;
    position: relative;
    float: left;
}
.origin-customizer-screen > .l-origin-customizer-dialog-container .content .avatar-changer-container .avatar-container
{
    width: 100%;
    height: 100%;
    margin-bottom: 1.0rem;
}
.origin-customizer-screen > .l-origin-customizer-dialog-container .content .avatar-changer-container .avatar-container .avatar-column
{
    width: 25%;
    height: 100%;

    float: left;
    position: relative;
    /*border: 4px solid brown;*/
}
.origin-customizer-screen > .l-origin-customizer-dialog-container .content .avatar-changer-container .avatar-container .avatar-column-mid
{
    width: 50%;
    height: 100%;

    float: left;
    position: relative;
    /*border: 4px solid black;*/

    background-image: url("coui://gfx/ui/skin/popup_background_449x250.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.origin-customizer-screen > .l-origin-customizer-dialog-container .content .avatar-changer-container .avatar-container .avatar-column .avatar-button
{
    height: 4.1rem;
    width: 4.5rem;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    position: absolute;    
}
.origin-customizer-screen > .l-origin-customizer-dialog-container .content .avatar-changer-container .avatar-container .avatar-column-mid .avatar-image-container
{
    width: 13.0rem;
    height: 16.0rem;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    position: absolute;
    /*border: 4px solid red;*/
}
.origin-customizer-screen > .l-origin-customizer-dialog-container .content .avatar-changer-container .avatar-container .avatar-column-mid .avatar-image-container > img
{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    display: block;
}
.origin-customizer-screen > .l-origin-customizer-dialog-container .content .l-avatar-button
{
    top: 0;
    left: 0;
    bottom: 0;
    width: 17.5rem;
    position: absolute;
    margin: auto;
    line-height: 3.0rem;
}



