
/*
	Dialog Specific
*/
.ui-control.dialog-1280-768
{
    background-image: url("coui://gfx/ui/skin/dialog_background_1280x768.png");
    background-size: 128.0rem 76.8rem;
    background-repeat: no-repeat;
}

.ui-control.dialog-600-458
{
    background-image: url("coui://gfx/ui/skin/popup_background_600x458.png");
    background-size: 60.0rem 45.8rem;
    background-repeat: no-repeat;
}



/*
    List Entry Small Fit within parent
*/
.ui-control.list .list-entry-small-fit
{
    top: 0;
    left: 0.3rem;
    right: 0.3rem;
    bottom: 0;
    position: absolute;
    margin : auto;

    background-image: url("coui://gfx/ui/skin/list_item_02.png");
    background-size: 100% 3.9rem;
    background-repeat: no-repeat;

    text-shadow: 1px 1px 1px #000;

    color: #d7a54e;
}

.ui-control.list .list-entry-small-fit:hover,
.ui-control.list .list-entry-small-fit.is-selected
{
    background-image: url("coui://gfx/ui/skin/list_item_02_hovered.png");
    background-size: 100% 3.9rem;
}

.ui-control.list .list-entry-small-fit.is-selected
{
    text-shadow: 1px 1px #000000, -1px -1px #000;
}

.ui-control.list .list-entry-small-fit[disabled]
{
    background-image: url("coui://gfx/ui/skin/list_item_02_inactive.png");
    background-size: 100% 3.9rem;
}

.ui-control.list .list-entry-small-fit[disabled]:hover
{
    background-image: url("coui://gfx/ui/skin/list_item_02_hovered.png");
    background-size: 100% 3.9rem;
}

.ui-control.list .list-entry-small-fit[disabled]:active
{
    background-image: url("coui://gfx/ui/skin/list_item_02_hovered.png");
    background-size: 100% 3.9rem;
}

.ui-control.list .list-entry-small-fit > .label
{
    top: 0;
    bottom: 0;
    left: -0.3rem;
    right: 0;
    width: 90%;
    height: 90%;
    margin: auto;
    position: absolute;

    text-align : center;
}

.ui-control.list .list-entry-small-fit > img
{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 90%;
    height: 90%;
    position: absolute;
    margin: auto;
}


/*
    List entry fat boy
*/
.ui-control.list .list-entry-fat
{
    top: 0;
    left: 0.3rem;
    right: 0.3rem;
    bottom: 0;
    position: absolute;
    margin : auto;

    background-image: url("coui://gfx/ui/skin/list_item_custom_250x175.png");
    background-size: 25.0rem 17.5rem;
    background-repeat: no-repeat;

    text-shadow: 1px 1px 1px #000;

    color: #d7a54e;
}

.ui-control.list .list-entry-fat:hover,
.ui-control.list .list-entry-fat.is-selected
{
    background-image: url("coui://gfx/ui/skin/list_item_custom_250x175_hovered.png");
    background-size: 25.0rem 17.5rem;
}

.ui-control.list .list-entry-fat.is-selected
{
    text-shadow: 1px 1px #000000, -1px -1px #000;
}

.ui-control.list .list-entry-fat[disabled]
{
    background-image: url("coui://gfx/ui/skin/list_item_custom_250x175_inactive.png");
    background-size: 25.0rem 17.5rem;
}

.ui-control.list .list-entry-fat[disabled]:hover
{
    background-image: url("coui://gfx/ui/skin/list_item_custom_250x175_hovered_inactive.png");
    background-size: 25.0rem 17.5rem;
}

.ui-control.list .list-entry-fat[disabled]:active
{
    background-image: url("coui://gfx/ui/skin/list_item_custom_250x175_hovered_inactive.png");
    background-size: 25.0rem 17.5rem;
}

.ui-control.list .list-entry-fat > .label
{
    top: 0;
    bottom: 0;
    left: -0.3rem;
    right: 0;
    width: 90%;
    height: 90%;
    margin: auto;
    position: absolute;

    text-align : center;
}

.ui-control.list .list-entry-fat > img
{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 90%;
    height: 90%;
    position: absolute;
    margin: auto;
}


/*
    List Entry reskined, not for selecting
*/
.ui-control.list .list-entry-noice
{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin : auto;

    background-image: url("coui://gfx/ui/skin/tactical_character_background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    text-shadow: 1px 1px 1px #000;
}


/*
    Troop entry slot
*/
.ui-control.is-troop-slot
{
    width: 37.0rem;
    height: 10.7rem;
    float: left;
    position: relative;
    margin-left: 1.0rem;
    margin-top: 0.2rem;

    text-shadow: 1px 1px 1px #000;
}

.ui-control.is-troop-slot > .troop-panel
{
    width: 100%;
    height: 100%;

    background-image: url("coui://gfx/ui/skin/tactical_character_background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.ui-control.is-troop-slot > .troop-panel:hover,
.ui-control.is-troop-slot > .troop-panel.is-selected
{
    background-image: url("coui://gfx/ui/skin/tactical_character_background_hovered.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}



